/* header section style */

.header-section {
  background-image: url(../images/header-background.png);
  background-position: right 0 top 100%;
}

.header-section img {
  position: absolute;
  bottom: -30px;
  background-color: var(--sherpa-blue);
  padding: 15px;
  width: 90px;
  border: 6px solid white;
  border-radius: 15px;
}

.header-section h2 {
  margin: 0;
  color: white;
  font-size: 12px;
  position: absolute;
  bottom: 15px;
  left: calc(10% + 110px);
}

/* ---------------
    main style
   --------------- */

/* section 1 */

.section-1 article {
  display: flex;
  flex-direction: column;
}

.article-title {
  color: var(--sherpa-blue);
}

p {
  color: var(--paragraph-color);
  line-height: 1.5em;
}

.title-span {
  color: var(--dark-orange);
}

.article-img {
  max-width: 100%;
  order: 2;
}

/* section 2 */

.section-2 {
  background: linear-gradient(180deg, var(--background-color) 50%, #fff 50%);
  margin-top: 50px;
}

button {
  width: 100%;
  border: 3px solid white;
  padding: 0.7em;
  margin: 0.5em 0;
  background-color: var(--background-color);
  color: var(--sherpa-blue);
  font-weight: bold;
  cursor: pointer;
}

.active-tab,
button:hover {
  color: var(--dark-orange);
  background-color: white;
  border-color: var(--background-color);
}

/* section 3 */

.section-3 {
  background-color: white;
  /* padding: 50px 0; */
  display: grid;
}

#tab-1,
#tab-2,
#tab-3,
#tab-4 {
  grid-row: 1;
  grid-column: 1;
  background-color: white;
}

#tab-2,
#tab-3,
#tab-4 {
  z-index: -1;
  display: flex;
  align-items: center;
}

/* tab 1 */
.list-title {
  color: var(--dark-orange);
  font-size: 1.25rem;
  margin-top: 60px;
  margin-bottom: 40px;
}

.list {
  color: var(--sherpa-blue);
}

#tab-1 .list {
  padding-left: 12px;
}

.list li::marker {
  content: "▶";
  font-size: 10px;
}

.list li {
  margin: 20px 0;
  padding-left: 10px;
  width: max-content;
}

.list a {
  text-decoration: none;
  color: var(--sherpa-blue);
}

.list a:hover,
.list li:hover {
  color: var(--dark-orange);
}

/* tab 2 */
#tab-2 ul {
  padding-left: 10px;
  display: block;
}

#tab-2 .list-title {
  margin-top: 0;
}

#tab-2 ul {
  margin-bottom: 70px;
}

#tab-2,
#tab-4 {
  flex-direction: column;
}

/* tab 4 */
#tab-4 ul {
  padding-left: 10px;
}

/* ---------------
    tablet version
   --------------- */
@media only screen and (min-width: 700px) {
  /* section-1 */
  .section-1 .flex-container img {
    float: right;
    width: 45%;
    max-width: 450px;
    margin-left: 5%;
    margin-bottom: 10px;
  }

  .section-1 article {
    display: unset;
  }

  /* section-2 */
  .section-2 .flex-container {
    display: grid;
    grid-template-columns: 50% 50%;
    column-gap: 30px;
  }

  /* section-3 */
  .section-3 .flex-container {
    display: flex;
  }

  .section-3 h2 {
    margin-top: 15px;
  }

  .section-3 .p-article {
    margin-right: 30px;
  }
}

/* ---------------
    desktop version
   --------------- */

@media only screen and (min-width: 1200px) {
  /* section-1 */
  .flex-container {
    display: flex;
  }

  /* section-2 */
  .section-2 .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .section-2 {
    margin-top: 3em;
  }

  .section-2 button {
    width: 300px;
  }

  button + button {
    margin-left: 20px;
  }

  /* section-3 */
  .section-3 {
    padding: 50px 0;
  }
  .section-3 .list-title {
    margin-top: 15px;
    margin-left: 15px;
  }

  .list-article {
    flex: 4;
  }

  .p-article {
    flex: 3;
  }

  .list {
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
  }

  .list li {
    margin: 0.9em;
  }

  #tab-2,
  #tab-4 {
    flex-direction: row;
  }
}

@media only screen and (min-width: 1625px) {
  .header-section h2 {
    left: calc(((100vw - 1300px) / 2) + 110px);
  }
}
