:root {
    --dark-orange: #f27024;
    --soft-orange: #ff863f;
    --sherpa-blue: #00445c;
    --paragraph-color: #404040;
    --background-color: #efefef;
    --title-color: #848484;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

p, ul {
    line-height: 1.7em;
}

body {
    margin: 0;
    background-color: var(--background-color);
}

.flex-container {
    width: 80%;
    max-width: 1300px;
    margin: auto;
}

/* ---------------
    header style
   --------------- */

/* nevbar */

.logo {
    width: 60px;
}

header {
    background-color: var(--dark-orange);
    background-image: url(../images/shape-mobile-version.svg);
    background-repeat: no-repeat;
    background-position: right 110px top -450px;
}

header .flex-container {
    display: flex;
    flex-direction: column;
}

.flex-item {
    display: flex;
    height: 70px;
    align-items: center;
}

.flex-item .logo {
    align-self: flex-start;
}

#title {
    font-size: .8rem;
    font-family: sans-serif;
    line-height: 1.5em;
    padding: 0 1em;
    color: var(--title-color);
}

.burger-icon {
    width: 35px;
    position: absolute;
    right: 10%;
    cursor: pointer;
}

.invisible {
    display: none;
}

.visible {
    display: unset;
}

nav a {
    text-decoration: none;
    color: white;
}

nav ul {
    list-style: none;
    text-align: right;
    margin: 0;
    margin-bottom: 20px;
}

nav li {
    margin: .5em 0 .5em auto;
    padding: .3em .7em;
    width: max-content;
    border-radius: 20px;
    font-weight: bold;
}

nav li:hover, nav li:focus {
    background-color: var(--soft-orange);
}

.active {
    background-color: var(--soft-orange);
}

/* header section style */

.header-section {
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100px;
    margin-bottom: 60px;
}

/* ---------------
    footer style
   --------------- */

footer {
    background-color: var(--sherpa-blue);
}

footer .flex-container {
    display: flex;
    justify-content: space-between;
}

footer p {
    color: white;
    justify-self: center;
    margin-right: 30px;
}

footer img {
    align-self: flex-start;
}

/* ---------------
    tablet version
   --------------- */

@media only screen and (min-width: 700px) {
    /* navbar */
    header {
        background-position: right 250px top -450px;
    }
}

/* ---------------
    desktop version
   --------------- */

@media only screen and (min-width: 1200px) {
    /* navbar */
    header {
        background-image: url(../images/shape.svg);
        background-position: left -650px top -10px;
    }

    .burger-icon {
        display: none;
    }
    
    .invisible {
        display: unset;
    }

    header .flex-container{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    nav {
        height: max-content;
    }

    nav ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 0;
        margin: 0;
    }

    nav li {
        margin: 0 .25em;
    }
    
    /* header section style */
    .header-section {
        background-position: left 0 top -160px;
    }
}